[init]
  defaultBranch = master
[user]
  email = garrakombo@gmail.com
  name = Hi_Pyncho
[core]
  excludesFile = ~/.dotfiles/.gitignore
  editor = nvim -w
[submodule]
  recurse = true
[credential]
  helper = store
[push]
  autoSetupRemote = true  # easier to push new branches
  default = current  # push only current branch by default
