[init]
  defaultBranch = main
[user]
  email = garrakombo@gmail.com
  name = Hi_Pyncho
[core]
  excludesFile = ~/.dotfiles/.gitignore
  editor = nvim
[submodule]
  recurse = true
[credential]
  helper = store
